@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
}

h1 {
	font-size: 46px;
	line-height: 1.3;
	font-weight: 900;
	margin: 0 0 92px 0;
	color: #1E212C;
}

.subtitle,
.quote {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
	color: #1E212C;
}

.subtitle{
	margin: 0 0 24px 0;
}

.quote{
	margin: 48px 0;
	padding: 0 0 0 58px;
}

p {
	font-size: 16px;
	line-height: 1.6;
	margin: 0 0 24px 0;
}

.last-p{
	margin: 0;
}

ul{
	margin: 0 0 24px 0;
}

li {
	font-size: 16px;
	line-height: 1.6;
	padding: 0 0 0 32px;
}

.wrapper{
	max-width: 840px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
	min-height: 100%;
}

img{
	width: 100%;
	margin: 0 0 60px 0;
}