@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url('/lesson_4/fonts/YanoneKaffeesatz-Regular.woff2') format('woff2'), url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('/lesson_4/fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


body {
	font-family: 'Gotham Pro', sans-serif;
	font-size: 18px;
	line-height: 1.3;
	color: #404040;
}

.wrapper{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
	min-height: 100%;
}

.main__titleContainer {
	text-align: center;
}

.main__title {
	font-family: "Montserrat", sans-serif;
	font-weight: 100;
	font-size: 85px;
	color: #000;
}

h1{
	margin: 24px 0;
}

h2,
h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

h2 {
	font-size: 25px;
	margin: 0 0 8px 0;
	color: #000;
	letter-spacing: -2px;
}

h3 {
	font-size: 20px;
	margin: 0 0 4px 0;
	color: #202020;
	letter-spacing: -1px;
}

span {
	text-decoration: underline;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	color: #202020;
}

a {
	font-family: "Montserrat", sans-serif;
	text-decoration: underline;
	font-size: 20px;
	color: #808080;
}

.main_menu a {
	text-decoration: underline;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	color: #202020;
}

.main_menu li{
	display: inline-block;
	margin: 0 0 0 32px;
	line-height: 1.2;
}

.main_menu ul{
	margin: 0;
}

li {
	margin: 0 0 8px 32px;
}

a[href*="#sub-"]{
	font-size: 16px;
	color: #808080;
}

img{
	width: 50%;
	margin: 0 0 48px 0;
}

ul,
ol,
p{
	margin: 0 0 32px 0;
}